
$icon-font-path: "node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
